body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.search-box {
    padding: 8px;
    font-size: 16px;
    border: none
}

.border-bottom {
    border-bottom: 1px solid gray;
}

.border-right {
    border-right: 1px solid lightgray;
}

.font-black {
    color: black !important;
}

.small-font {
    font-size:small ;
}

.font-gray {
    color: gray;
}

.no-border {
    border: none;
    border-radius: 35px;
}